<!-- Footer -->
<footer class="py-4 mt-5">
    <div class="container text-center text-md-start">
        <div class="row align-items-center">
            <!-- Info personal -->
            <div class="col-md-6 mb-3 mb-md-0">
                <h5 class="fw-bold text-end">© Nahuel Argandoña</h5>
                <p class="mb-1 text-end">Desarrollador Web Full — Córdoba, Argentina 2025</p>
            </div>

            <!-- Enlaces -->
            <div class="col-md-6 d-flex justify-content-md-end justify-content-center gap-3">
                <a href="https://github.com/Aubar48" target="_blank" class="fs-4"><i class="fab fa-github"></i></a>
                <a href="https://www.linkedin.com/in/aubar48/" target="_blank" class="fs-4"><i
                        class="fab fa-linkedin"></i></a>
            </div>
        </div>
        <hr class="border-secondary my-3">
    </div>
</footer>