.accessibility-btn {
  position: fixed;
  top: 500px;
  right: 10px;
  z-index: 1050;
}

.high-contrast {
  filter: contrast(1.75) saturate(1.2);
  background-color: #000 !important;
  color: #fff !important;
}

.large-text * {
  font-size: 1.25em !important;
}

.hide-image {
  display: none !important;
}

.dropdown-menu {
  background-color: #fff;
  border-radius: 8px;
  min-width: 200px;
  position: fixed;
  top: 500px;
  right: 100px;
  z-index: 1050;
}
