<!-- Sobre Mí -->
<div class="col-12 mb-5" data-aos="fade-up" id="about">
    <div class="row align-items-center">
        <div class="col-md-6">
            <p class="lead text-primary fs-3">Hi, I’m Nahuel Argandoña. Welcome to my profile</p>
            <p>I’m from Argentina and I live in Córdoba Capital now. I’m 31 years old, studying web programming full
                stack is a pleasure for me in Egg Education & Argentina Programa 4.0 MindHub LA & Digital House with
                Fundacion Formar & Argentina Programa 4.0 UTN, and I am currently studying software development
                technology
                at the Instituto Superior Politecnico de Córdoba "ISPC". Thanks for taking a look 🐣</p>
            <div class="social-links d-flex gap-4 fs-4 mb-3 text-primary">
                <a href="https://github.com/Aubar48" target="_blank" title="GitHub"><i class="fab fa-github"></i></a>
                <a href="https://www.linkedin.com/in/aubar48/" target="_blank" title="LinkedIn"><i
                        class="fab fa-linkedin"></i></a>
            </div>
        </div>
        <div class="col-md-6">
            <img src="./assets/yo.jpg" alt="Perfil"
                class="border-bottom border-top border-primary border-3 img-fluid rounded shadow">
        </div>
    </div>
</div>