<!-- Sobre Mí -->
<div class="col-12 mb-5" id="about" *ngIf="perfil">
    <div class="row align-items-center">
        <div class="col-md-6">
            <p class="lead text-primary fs-5">
                Hola, soy {{ perfil.nombre }} {{ perfil.sobre_mi }}
            </p>
            <p class="lead text-primary fs-5">
                🐣 {{ perfil.descripcion }}
            </p>
            <section>
                <ul>
                    <li>
                        <a href="{{ perfil.github }}" target="_blank">
                            <img class="gap-3"
                                src="https://img.shields.io/badge/Portfolio-%23333?style=for-the-badge&logo=portfolio&logoColor=white">
                        </a>
                        <a href="{{ perfil.linkedin }}" target="_blank">
                            <img class="gap-3"
                                src="https://img.shields.io/badge/-LinkedIn-%230077B5?style=for-the-badge&logo=linkedin&logoColor=white">
                        </a>
                    </li>
                </ul>
            </section>
        </div>
        <div class="col-md-6">
            <img [src]="perfil.imagen || './assets/morgan.png'" alt="Perfil"
                class="border-bottom border-top border-primary border-3 img-fluid rounded shadow">
        </div>
        <!-- Tecnologías -->
        <section class="mb-5" *ngIf="tecnologias.length > 0">
            <h3 class="text-primary mt-4">Tecnologías</h3>
            <ul>
                <li>
                    <div class="d-flex flex-wrap gap-3 fs-2">
                        <i *ngFor="let tech of tecnologias" [class]="tech.icono" [attr.title]="tech.nombre"></i>
                    </div>
                </li>
            </ul>
        </section>
    </div>
</div>